<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
  <input type="text" name="" id="name" value="">
  <button onclick="fn()"> 获取登录</button>
  <script>
    function fn() {
      let inputvalue = document.getElementById('name').value;
      let value = {
        page:1,
        limit:10,
        title:'a'
      }
      // $.ajax({
      //   headers:{Authorization:'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxIn0.1CN_8jXLcWwWBf_V-N_7qPrlhbnIOOiFA4Y2pe9-xL4'},
      //   url:'http://192.168.43.253:8080/api/admin/order/search',
      //   method:'POST',
      //   data: JSON.stringify(value),
      //   // dataType:"json",
      //   contentType:"application/json;charset=utf-8",
      //   success:((item)=> {
      //     console.log(item)
      //   })
      // })
      // console.log(inputvalue)
      $.ajax({
      headers:{Authorization:'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxIn0.1CN_8jXLcWwWBf_V-N_7qPrlhbnIOOiFA4Y2pe9-xL4'},
        url:'http://192.168.43.253:8080/api/admin/holdCurrency/query/1',
        method:'GET',
        contentType:"application/json;charset=utf-8",
        success:((item)=> {
          console.log(item)
        })
      })
      
    }
  </script>
</body>
</html>